.photo-grid__item_num_1 {
    background-image: url(../../../../images/photo-grid-train.jpg);
}

.photo-grid__item_num_2 {
    background-image: url(../../../../images/photo-grid-atharva-tulsi.jpg);
}

.photo-grid__item_num_3 {
    background-image: url(../../../../images/photo-grid-tuman.jpg);
}

.photo-grid__item_num_4 {
    background-image: url(../../../../images/photo-grid-sochi.jpg);
}

.photo-grid__item_num_5 {
    background-image: url(../../../../images/photo-grid-arisa.jpg);
}

.photo-grid__item_num_6 {
    background-image: url(../../../../images/photo-grid-baikal.jpg);
}

.photo-grid__item_num_7 {
    background-image: url(../../../../images/photo-grid-elbrus.jpg);
}

.photo-grid__item_num_8 {
    background-image: url(../../../../images/photo-grid-kondratiev.jpg);
}

.photo-grid__item_num_9 {
    background-image: url(../../../../images/photo-grid-kamchatka-1.jpg);
}

.photo-grid__item_num_10 {
    background-image: url(../../../../images/photo-grid-kamchatka-2.jpg);
}

.photo-grid__item_num_11 {
    background-image: url(../../../../images/photo-grid-baikal-2.jpg);
}

.photo-grid__item_num_12 {
    background-image: url(../../../../images/photo-grid-ergaki.jpg);
}