.place__image_num_1 {
    background-image: url(../../../../images/place-kosa.jpg);
}

.place__image_num_2 {
    background-image: url(../../../../images/place-kolsky.jpg);
}

.place__image_num_3 {
    background-image: url(../../../../images/place-altai.jpg);
}

.place__image_num_4 {
    background-image: url(../../../../images/place-winter-baikal.jpg);
}

.place__image_num_5 {
    background-image: url(../../../../images/place-karelia.jpg);
}