.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 92px 48px 0;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        margin: 97px 16px 0;
    }
}

@media (max-width: 320px) {
    .footer {
        margin: 88px 24px 0;
    }
}